* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/****************************/
/* navigation SECTION*/
/****************************/

header {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-img {
  width: 11rem;
}

.navigation a {
  font-family: monospace;
  text-decoration: none;
  color: #543310;
  font-size: 24px;
  padding: 6px 15px;
  border-radius: 20px;
  font-weight: 600;
  margin: 0 10px;
}
.navigation a:hover,
.navigation a.active {
  color: #3f2305;
}

.login-icon {
  width: 40px;
  color: #f9f9f9;
  margin-left: 20rem;
}
.login-icon:hover {
  color: rgb(48, 43, 43);
}

/****************************/
/* HERO SECTION*/
/****************************/

.hero-section {
  background-image: url("images/hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  align-items: center;
  padding-top: 20px;
}
.hero {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 0 3.2rem;
}

.hero-imgs-box {
  padding-top: 2rem;
}

.img-card {
  width: 18rem;
  height: 25rem;
  padding-top: 2rem;
}
.img-card-2 {
  width: 18rem;
  height: 25rem;
}
